@charset "UTF-8";

ul {
    max-width: 900px;
    background-color: rgb(67, 68, 68);
    margin: 0%;
    text-align: center;
    padding: 20px 200px;
    

  
}
ul li {
    display: inline;
    padding: 0%;
    display: inline;
   
    
}
 ul li a {
     color: black;
     text-decoration: none;
     transition: background .4s;
     margin: 0%;
     list-style: none;
     display: inline;
     display: inline-block;
     padding: 9px 15px;
     
 }
 ul li a:hover{
     background-color: white;
     padding: 9px 30px;
    
 }

h1 {
    color: white;
    background-color: rgb(79, 80, 80);
}
h2{
    color: white;
    background-color: rgb(79, 80, 80);
}
p{
    color: white;
}
ol li {
    
    background-color: rgb(73, 72, 72);
    color: black;
    padding: 30px 585px;
    display: inline-block;
    list-style: none;
    display: inline;
    margin: 0%;
   
    
}

body div {
    background-color: rgb(79, 80, 80);
    margin: 0%;
    
    
}